<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            font-size: 1.5rem;
        }
    </style>
</head>
<body>

<form th:method="POST" th:action="@{/library/books}" th:object="${book}">
    <label for="title">Введите название: </label>
    <input id="title" th:field="*{title}" type="text"/>
    <p></p>
    <label for="author">Введите автора: </label>
    <input id="author" th:field="*{author}" type="text"/>
    <p></p>
    <label for="year">Введите год написания: </label>
    <input id="year" th:field="*{year}" type="text"/>
    <br/>
    <input type="submit" value="Create">
</form>

</body>
</html>